.header {
  &__top {
    display: none;

    @include tablet {
      display: block;
      min-height: 60px;
      background-color: $color-light_color;
    }

  }

  &__middle {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-light_color;

    &-container {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__bottom {
    border-bottom: 1px solid $color-light_color;
    box-sizing: border-box;
  }
}

.logo {
  width: 160px;
  height: 20px;
  color: $color-primary;
  fill: $color-light_black;

  @include tablet {
    width: 112px;
    height: 14px;
    position: absolute;
    top: 0;
    transform: translateY(-38px);
  }
}

.nav-main {
  max-width: 638px;
  width: 100%;
  transform: translateY(1px);

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    font-size: 20px;
    line-height: 1;

    @include nav_hover-focus-active;
  }
}

.buttons {
  max-width: 152px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  transform: translateY(3px);

  &__img {
    width: 24px;
    height: 24px;
    stroke: $color-primary;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;
  }

  &:hover &__img,
  &:focus-visible &__img {
    stroke: $color-primary_light;
  }

  &:active &__img {
    stroke: $color-primary_shade;
  }

}

.login {
  padding: 9px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  border: 2px solid $color-black;
  box-sizing: border-box;
  border-radius: 77px;

  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    color: $color-black;
    fill: none;
    transform: translateY(-2px);
  }

  &:focus-visible {
    background-color: $color-primary_light;
  }

  &:hover {
    color: $color-white;
    background-color: $color-black;

    & .login__icon {
      color: $color-white;
    }
  }

  &:active {
    color: $color-white;
    border-color: $color-primary_shade;
    background-color: $color-primary_shade;
  }
}

.nav-bottom {
  min-height: 58px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 52px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {

    @include nav_hover-focus-active;
  }
}

.on-air-group {
  margin-right: 52px;
  align-self: stretch;
  flex: 0 0 350px;
  display: flex;
  align-items: center;
}

.on-air {
  min-height: 40px;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;

  &::before,
  &:last-child::after {
    content: '';
    position: absolute;
    height: 66.67%;
    width: 1px;
    background-color: $color-light_color;
  }

  &::before {
    left: 0;
  }

  &:last-child::after {
    right: 0;
  }

  @include tablet {
    max-width: 149px;
  }

  &__button {
    flex: 0 0 26px;
    width: 100%;
    height: 100%;

    &:focus-visible .on-air__play {
      fill: $color-primary_light;
    }

    &:hover .on-air__play {
      fill: $color-primary;
    }

    &:active .on-air__play {
      fill: $color-primary_shade;
    }
  }

  &__play {
    width: 24px;
    height: 24px;
    fill: $color-text_gray;
    transform: translateY(3px);
  }

  &__info {
    height: 100%;
    padding-left: 7px;
  }

  &__desc {
    display: inline-block;
    width: 100%;
    margin-bottom: 4px;
    flex: 0 1 121px;
    font-size: 12px;
    color: $color-text_gray;
  }
}

.age-limit {
  flex: 0 0 46px;
  align-self: stretch;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-light_color;

  &::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: $color-white;
    border-radius: 100%;
  }

  &__age {
    position: relative;
    font-family: 'Open Sans';
    font-size: 12px;
    color: $color-text_gray;
  }
}
