@mixin nav_hover-focus-active {
  position: relative;

  &:hover {
    color: $color-primary;
  }

  &:focus-visible {
    color: $color-white;

    &::before {
      content: '';
      position: absolute;
      top: -3px;
      right: -5.5px;
      bottom: -1px;
      left: -5.5px;
      z-index: -1;
      background-color: $color-primary_light;
    }
  }

  &:active {
    color: $color-primary_shade;
  }
}
