<section class="broadcasts">
  <div class="container">
    <ul class="list-reset broadcasts__list">
      <li class="broadcasts__item">
        <h2 class="section-title broadcasts__title">Передачи</h2>
        <span class="broadcasts__author">Автор:</span>
        <select class="broadcasts__select bs" name="select" id="broadcastsAuthorsSelect">
          <option value="1" selected>Дмитрий Гутенберг</option>
          <option value="2">Анна Васильева</option>
          <option value="3">Пётр Дмитриевский</option>
          <option value="4">Татьяна Флеганова</option>
        </select>
      </li>
      <li class="broadcasts__item ba">
        <picture aria-hidden="true">
          <source srcset="./img/mic@2x.png 2x, ./img/mic.png 1x" />
          <img class="ba__mic" src="./img/mic.png" alt="Микрофон" />
        </picture>
        <button class="btn-reset ba__btn" data-graph-path="">
          <svg class="ba__btn-icon">
            <use xlink:href="./img/images.svg#archiveButton"></use>
          </svg>
          Архив
        </button>
        <span class="ba__info">В архив попадают все передачи, которые вы пропустили!
          <span class="ba__info-accent">Enjoy :)</span>
        </span>
      </li>
      <li class="broadcasts__item bi">
        <picture>
          <source srcset="./img/broadcasts/1@2x.png 2x, ./img/broadcasts/1.png 1x" />
          <img class="bi__img" src="./img/broadcasts/1.png" alt="О людях и книгах" />
        </picture>
        <div class="bi__info">
          <h3 class="bi__title">О людях и книгах</h3>
          <span class="bi__announcement">Анонсируется отдельно</span>
          <button class="btn-reset bi__more" data-graph-path="">Подробнее</button>
        </div>
      </li>
      <li class="broadcasts__item bi">
        <picture>
          <source srcset="./img/broadcasts/2@2x.png 2x, ./img/broadcasts/2.png 1x" />
          <img class="bi__img" src="./img/broadcasts/2.png" alt="Графомания td." />
        </picture>
        <div class="bi__info">
          <h3 class="bi__title">Графомания td.</h3>
          <span class="bi__announcement">По понедельникам в 10:00 </span>
          <button class="btn-reset bi__more" data-graph-path="">Подробнее</button>
        </div>
      </li>
      <li class="broadcasts__item bi">
        <picture>
          <source srcset="./img/broadcasts/3@2x.png 2x, ./img/broadcasts/3.png 1x" />
          <img class="bi__img" src="./img/broadcasts/3.png" alt="Не Рим, не Троя" />
        </picture>
        <div class="bi__info">
          <h3 class="bi__title">Не Рим, не Троя</h3>
          <span class="bi__announcement">По вторникам в 12:00</span>
          <button class="btn-reset bi__more" data-graph-path="">Подробнее</button>
        </div>
      </li>
      <li class="broadcasts__item bi">
        <picture>
          <source srcset="./img/broadcasts/4@2x.png 2x, ./img/broadcasts/4.png 1x" />
          <img class="bi__img" src="./img/broadcasts/4.png" alt="Эрудит" />
        </picture>
        <div class="bi__info">
          <h3 class="bi__title">Эрудит</h3>
          <span class="bi__announcement">По пятницам в 17:00</span>
          <button class="btn-reset bi__more" data-graph-path="">Подробнее</button>
        </div>
      </li>
      <li class="broadcasts__item bi">
        <picture>
          <source srcset="./img/broadcasts/5@2x.png 2x, ./img/broadcasts/5.png 1x" />
          <img class="bi__img" src="./img/broadcasts/5.png" alt="Тонкости эпох" />
        </picture>
        <div class="bi__info">
          <h3 class="bi__title">Тонкости эпох</h3>
          <span class="bi__announcement">По субботам в 10:00</span>
          <button class="btn-reset bi__more" data-graph-path="">Подробнее</button>
        </div>
      </li>
      <li class="broadcasts__item bi">
        <picture>
          <source srcset="./img/broadcasts/6@2x.png 2x, ./img/broadcasts/6.png 1x" />
          <img class="bi__img" src="./img/broadcasts/6.png" alt="Живые мысли" />
        </picture>
        <div class="bi__info">
          <h3 class="bi__title">Живые мысли</h3>
          <span class="bi__announcement">По воскресеньям в 15:30</span>
          <button class="btn-reset bi__more" data-graph-path="">Подробнее</button>
        </div>
      </li>
    </ul>
  </div>
</section>
