<section class="guests">
  <div class="container">
    <h2 class="section-title guests__title">Гости</h2>
    <span class="guests__intro guests__intro_info">У нас бывают:</span>
    <p class="guests__intro guests__intro_desc">Блогеры, арт-критики и деятели искусства, музыканты, молодые учёные и люди науки, историки, филологи и много других интересных гостей!</p>
    <div class="guests__authors">
      <div class="guests__accordion ac">
        <div class="ac__block">
          <button type="button" class="btn-reset ac__trigger">Блогеры</button>
          <div class="ac__panel">
            <ul class="list-reset ac__list">
              <li class="ac__item"><button class="btn-reset ac__name">Сергей Денисов</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Евгений Войновский</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Олег Свиридовский</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Денис Тельман</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Матвей Мечников</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Ольга Мартынова</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Владислав Кауперс</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Юрий Горин</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Константин Прусино</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Дмитрий Михалок</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Михаил Пожитников</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Максим Сергеев</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Иван Калитников</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Пётр Пиотровский</button></li>
              <li class="ac__item"><button class="btn-reset ac__name">Георгий Полуян</button></li>
            </ul>
          </div>
        </div>

        <div class="ac__block">
          <button type="button" class="btn-reset ac__trigger">Арт-критики</button>
          <div class="ac__panel">
            <ul class="ac__list">
              <li class="ac__item"><button class="btn-reset ac__name">Пусто...</button></li>
            </ul>
          </div>
        </div>

        <div class="ac__block">
          <button type="button" class="btn-reset ac__trigger">Художники</button>
          <div class="ac__panel">
            <ul class="ac__list">
              <li class="ac__item"><button class="btn-reset ac__name">Пусто...</button></li>
            </ul>
          </div>
        </div>

        <div class="ac__block">
          <button type="button" class="btn-reset ac__trigger">Люди науки</button>
          <div class="ac__panel">
            <ul class="ac__list">
              <li class="ac__item"><button class="btn-reset ac__name">Пусто...</button></li>
            </ul>
          </div>
        </div>

        <div class="ac__block">
          <button type="button" class="btn-reset ac__trigger">Историки</button>
          <div class="ac__panel">
            <ul class="ac__list">
              <li class="ac__item"><button class="btn-reset ac__name">Пусто...</button></li>
            </ul>
          </div>
        </div>

        <div class="ac__block">
          <button type="button" class="btn-reset ac__trigger">Филологи</button>
          <div class="ac__panel">
            <ul class="ac__list">
              <li class="ac__item"><button class="btn-reset ac__name">Пусто...</button></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="guests__author-desc">
        <article class="guests__author au">
          <picture>
            <source srcset="./img/guests/martyinova@2x.jpg 2x, ./img/guests/martyinova.jpg 1x" />
            <img class="au__img" src="./img/guests/martyinova.jpg" alt="Ольга Мартынова" />
          </picture>
          <ul class="list-reset au__soc-list">
            <li class="au__soc-item">
              <a href="#" class="au__social-link" aria-label="Ольга Мартынова в instagram">
                <svg class="au__social au__social_instagram">
                  <use xlink:href="img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="au__soc-item">
              <a href="#" class="au__social-link" aria-label="Ольга Мартынова в facebook">
                <svg class="au__social au__social_facebook">
                  <use xlink:href="img/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="au__soc-item">
              <a href="#" class="au__social-link" aria-label="Ольга Мартынова в twitter">
                <svg class="au__social au__social_twitter">
                  <use xlink:href="img/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
          <h3 class="au__title">Ольга Мартынова</h3>
          <p class="au__info">Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.</p>
          <button class="btn-reset au__button">Эфиры с гостем</button>
        </article>
      </div>
    </div>

  </div>
</section>
