<section class="hero">
  <div class="container">
    <div class="hero__container">
      <h1 class="hero__title">Радио
        <span class="hero__title_name">W-Wawe</span>
      </h1>
      <div class="hero__desc">Привет, на связи W-Wawe! Раньше мы были
        <a href="#" class="hero__desc_link">изданием,</a>
        а теперь пробуем себя в разоворном жанре. Говорим о музыке, политике, истории, науке и культуре. Здесь, помимо прямого эфира — архив передач и многое другое :)</div>
      <button class="btn-reset hero__button" data-graph-path="">Слушать эфир</button>
    </div>
  </div>
</section>
<!-- <picture>
    <source media="(min-width: 1024px)" srcset="foo-large.jpg  1024w, foo-medium.jpg 640w, foo-small.jpg 320w" sizes="50vw" />
    <source srcset="foo@2x.jpg 2x, foo.jpg 1x" />
    <img src="foo.jpg" alt="Bar" />
 </picture> -->
