<section class="playlists">
  <div class="container">
    <div class="playlists__container">
      <div class="playlists__select">
        <h2 class="section-title playlists__title">Плейлисты</h2>
        <span class="playlists__author">Жанр</span>
        <select class="playlists__select ps" name="select" id="playlistsAuthorsSelect">
          <option value="1" selected>Постпанк</option>
          <option value="2">Хардкор</option>
          <option value="3">Панк-рок</option>
          <option value="4">Рок</option>
          <option value="5">Прогрессивный рок</option>
          <option value="6">Электронная музыка</option>
          <option value="7">Классическая музыка</option>
          <option value="8">Звуки природы и шум города</option>
        </select>
      </div>
      <ul class="list-reset playlists__list">
        <li class="playlists__item p-item">
          <a href="#" class="p-item__link">
            <picture>
              <source srcset="./img/playlists/1@2x.png 2x, ./img/playlists/1.png 1x" />
              <img class="p-item__img p-item__img_rus" src="./img/playlists/1.png" alt="Ploho" />
            </picture>
            <h3 class="p-item__title">Ploho</h3>
            <p class="p-item__info">3 последних альбома</p>
          </a>
        </li>
        <li class="playlists__item p-item">
          <a href="#" class="p-item__link">
            <picture>
              <source srcset="./img/playlists/2@2x.png 2x, ./img/playlists/2.png 1x" />
              <img class="p-item__img p-item__img_rus" src="./img/playlists/2.png" alt="Molchat Doma" />
            </picture>
            <h3 class="p-item__title">Molchat Doma</h3>
            <p class="p-item__info">Все песни</p>
          </a>
        </li>
        <li class="playlists__item p-item">
          <a href="#" class="p-item__link">
            <picture>
              <source srcset="./img/playlists/3@2x.png 2x, ./img/playlists/3.png 1x" />
              <img class="p-item__img p-item__img_rus" src="./img/playlists/3.png" alt="Motorama" />
            </picture>
            <h3 class="p-item__title">Motorama</h3>
            <p class="p-item__info">Все синглы</p>
          </a>
        </li>
        <li class="playlists__item p-item">
          <a href="#" class="p-item__link">
            <picture>
              <source srcset="./img/playlists/4@2x.png 2x, ./img/playlists/4.png 1x" />
              <img class="p-item__img p-item__img_rus" src="./img/playlists/4.png" alt="Human Tetris" />
            </picture>
            <h3 class="p-item__title">Human Tetris</h3>
            <p class="p-item__info">3 последних альбома</p>
          </a>
        </li>
        <li class="playlists__item p-item">
          <a href="#" class="p-item__link">
            <picture>
              <source srcset="./img/playlists/5@2x.png 2x, ./img/playlists/5.png 1x" />
              <img class="p-item__img p-item__img_rus" src="./img/playlists/5.png" alt="Буерак" />
            </picture>
            <h3 class="p-item__title">Буерак</h3>
            <p class="p-item__info">Все EP</p>
          </a>
        </li>
        <li class="playlists__item p-item">
          <a href="#" class="p-item__link">
            <picture>
              <source srcset="./img/playlists/6@2x.png 2x, ./img/playlists/6.png 1x" />
              <img class="p-item__img p-item__img_rus" src="./img/playlists/6.png" alt="Июльские Дни" />
            </picture>
            <h3 class="p-item__title">Июльские Дни</h3>
            <p class="p-item__info">Альбом «Колокол»</p>
          </a>
        </li>
        <li class="playlists__item p-item">
          <a href="#" class="p-item__link">
            <picture>
              <source srcset="./img/playlists/7@2x.png 2x, ./img/playlists/7.png 1x" />
              <img class="p-item__img p-item__img_uk" src="./img/playlists/7.png" alt="Joy Division" />
            </picture>
            <h3 class="p-item__title">Joy Division</h3>
            <p class="p-item__info">Лучшее за всё время</p>
          </a>
        </li>
        <li class="playlists__item p-item">
          <a href="#" class="p-item__link">
            <picture>
              <source srcset="./img/playlists/8@2x.png 2x, ./img/playlists/8.png 1x" />
              <img class="p-item__img p-item__img_uk" src="./img/playlists/8.png" alt="The Cure" />
            </picture>
            <h3 class="p-item__title">The Cure</h3>
            <p class="p-item__info">Лучшее за всё время</p>
          </a>
        </li>
        <li class="playlists__item p-item">
          <a href="#" class="p-item__link">
            <picture>
              <source srcset="./img/playlists/9@2x.png 2x, ./img/playlists/9.png 1x" />
              <img class="p-item__img p-item__img_uk" src="./img/playlists/9.png" alt="The Smiths" />
            </picture>
            <h3 class="p-item__title">The Smiths</h3>
            <p class="p-item__info">Период 1984-1988</p>
          </a>
        </li>
        <li class="playlists__item p-item">
          <a href="#" class="p-item__link">
            <picture>
              <source srcset="./img/playlists/10@2x.png 2x, ./img/playlists/10.png 1x" />
              <img class="p-item__img p-item__img_uk" src="./img/playlists/10.png" alt="New Order" />
            </picture>
            <h3 class="p-item__title">New Order</h3>
            <p class="p-item__info">Хиты</p>
          </a>
        </li>
        <li class="playlists__item p-item">
          <a href="#" class="p-item__link">
            <picture>
              <source srcset="./img/playlists/11@2x.png 2x, ./img/playlists/11.png 1x" />
              <img class="p-item__img p-item__img_uk" src="./img/playlists/11.png" alt="Bauhaus" />
            </picture>
            <h3 class="p-item__title">Bauhaus</h3>
            <p class="p-item__info">Все синглы</p>
          </a>
        </li>
        <li class="playlists__item p-item">
          <a href="#" class="p-item__link">
            <picture>
              <source srcset="./img/playlists/12@2x.png 2x, ./img/playlists/12.png 1x" />
              <img class="p-item__img p-item__img_uk" src="./img/playlists/12.png" alt="Gang Of Four" />
            </picture>
            <h3 class="p-item__title">Gang Of Four</h3>
            <p class="p-item__info">3 последних альбома</p>
          </a>
        </li>
      </ul>
      <div class="playlists__info p-info">
        <p class="p-info__desc">Раздел «Плейлисты» может содержать информацию, не предназначенную для несовершеннолетних.</p>
        <span class="p-info__copyright">© 2021 / W-Wave</span>
        <span class="p-info__18">18+</span>
      </div>
    </div>
  </div>
</section>
